* {
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    background-color: #FFFFFF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.head{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    max-width: 100%;
    z-index: 1000000;
    background-color: #FFFFFF;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F575A6;
}
.head1{
    display: flex;
    align-items: center;
    color: #F575A6;
    font-size:smaller;
}
#tma {
    color: #F575A6;
}
.head1 img{
    width: 7vh;
    height: auto;
    padding: 0px 6px;
}
.head2 nav{
    display: flex;
    gap: 16px;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: overline;
    color: #F575A6;
}
#nameg{
    background: linear-gradient(to right,#F575A6,#85AADF);
    border-radius: 10px;
    color: white;
    padding: 5px 20px;
}

.recetar{
    margin-top: 80px;
    background-color: #FFFFFF;
    display: grid;
    align-items: center;
    justify-content: center;
}
.recetar2{
    margin: 0 auto;
    text-align: center;
    width: 50%;
}
.datos{
    color: #85AADF;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.datos h2{
    color: #85AADF;
    font-size: 30px;
    text-align: center;
}
.datos2{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.formu{
    text-align: left;
    height: 300px;
    padding: 10px;
    border: 2px solid #85AADF;
    border-radius: 10px;
    
}
.formu input,#time,select{
    border: #85AADF 2px solid;
    border-radius: 5px;
    height: 20%;
    width: 100%;
}
.formu label{
    font-size: 120%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.rec{
    display: grid;
    text-align: left;
    font-size: 120%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.rec textarea{
    border: #85AADF 2px solid;
    border-radius: 5px;
    height: 150px;
}
.enviar{
    text-align: center;
    margin:30px;
}
.enviar a{
    border: 2px solid #85AADF;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: large;
}
.enviar a:hover{
    border: 2px solid white;
    color: white;
    background: linear-gradient(to right,#F575A6,#85AADF);
}

.information{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    background-color: #465c7a;
    color: white; 
    padding-top: 24px; 
    padding-bottom: 24px;

}
.information2{
    display: flex;
    gap: 30px;
    font-size: 13px;
}
.information2 img{
    width: 10vh;
    height: auto;
    border-radius: 20px;
}

@media (max-width:700px){
    body{
        width: 100%;
        height: 100%;
    }
    .head2 nav a{
        display:none;
    }
    .datos2{
        display: grid;
    }
}